.btn {
	display: block;
	background-color: rgb(41, 206, 170);
	margin: 2rem 4rem;
	width: 100px;
	border: none;
	border-radius: 0.25rem;
	height: 25px;
}
.btn {
	/* transform: scale(1.2) rotate(10deg); */
	transform: scale(var(--scale, 1.2)) rotate(var(--rotate, 10deg));
}
.big {
	/* transform: scale(2); */
	--scale: 2;
}
.tilted {
	/* transform: scale(1.2) rotate(-10deg); */
	--rotate: -10deg;
}
.big.tilted {
	/* transform: scale(2) rotate(-10deg); */
	--rotate: -10deg;
	--scale: 2;
}
.card {
	resize: horizontal;
	overflow: hidden;

	min-width: 250px;
	width: 350px;
	max-width: 450px;
}

.aspect {
	width: 50%;
	height: auto;
	color: #fff;
	margin: 20px 0;
	text-align: center;

	line-height: 60px;
	font-size: 25px;
}

.video {
	background-color: rgb(83, 212, 163);
	aspect-ratio: 16 / 9;
}
.one-by-one {
	background-color: red;
	aspect-ratio: 1 / 1;
}
